.wrapper {
    --header-height: 60px;
    height: var(--header-height);
    width: 100%;
    background-color: var(--bg-card);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.inner {
    height: 100%;
    width: 100%;
    max-width: 1150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 28px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 24px;
}
