.goToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;

    width: 50px;
    height: 50px;
    border: none;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;

    // Show/Hide transition
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: all 0.3s ease-in-out;

    // Hover
    &:hover {
        background-color: rgba(0, 0, 0, 0.6);
        transform: translateY(100%) scale(1.1);
    }
}

.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);

    &:hover {
        transform: translateY(0) scale(1.1);
    }
}
