.wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #242424;
}

.logo {
    height: 38px;
    width: 38px;
    border-radius: 3px;
}

.text {
    font-size: 1.1rem;
    font-weight: 700;
}
